.username{
    display: flex;
    align-items: center;
  text-align: center;
}

.login-text{
    position: absolute;
    color: white;
    text-align: center;
    align-content: center;
    max-width: 200px;
    margin-left: 90px;
    line-height: 65px;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}